<ul class="nav pull-right">
  <li class="divider-vertical"></li>
  <% if session["user"] %>
    <li><!--<a href="/user" data-original-title="Edit your memberships" data-placement="bottom">-->Welcome back, <%= session["user"] %><!--</a>--></li>
    <li class="divider-vertical"></li>
    <li><a href="/cart" data-original-title="View your cart" data-placement="bottom"><i class="icon-shopping-cart icon-white"></i></a></li>
    <li class="divider-vertical"></li>
    <% if session["store_owner"] %>
    <li><a href="/reports" data-original-title="View reports" data-placement="bottom"><i class="icon-signal icon-white"></i></a></li>
    <li class="divider-vertical"></li>
    <% end %>
    <li>
      <%= link_to "Sign out", "/sign_out" %>
    </li>
  <% else %>
    <li>
      <a href="#sign_up" role="button" data-toggle="modal">Sign Up</a>
    </li>
    <li class="divider-vertical"></li>
    <li style="position:relative;padding-bottom:15px;padding-right:10px;top:15px;">
      <img id="facebook_login_icon" src="/img/facebook.png" style="cursor:pointer;" data-placement="bottom" data-original-title="Login with Facebook credentials"/>
    </li>
    <li>
      <form class="navbar-form" data-placement="bottom">
        <input class="input-small span2" type="text" placeholder="Email">
        <input class="input-small" type="password" placeholder="Password">
        <button class="btn" type="submit">Sign In</button>
      </form>
    </li>
  <% end %>
</ul>
