/** Cerulean compiled less **/
@import url(https://fonts.googleapis.com/css?family=Telex);
.navbar .brand {
  padding: 14px 20px 16px;
  font-family: 'Telex', sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.navbar li {
  line-height: 20px;
}
.navbar .nav > li > a {
  padding: 16px 10px 14px;
  font-family: 'Telex', sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.navbar .search-query {
  border: 1px solid #178acc;
  line-height: normal;
}
.navbar .navbar-text {
  padding: 19px 10px 18px;
  line-height: 13px;
  color: rgba(0,0,0,0.5);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}
.navbar-inverse .navbar-search .search-query {
  color: #555;
}
@media (max-width: 979px) {
  .navbar .nav-collapse .nav li > a {
    font-family: 'Telex', sans-serif;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  }
  .navbar .nav-collapse .nav li > a:hover {
    background-color: #2B7CAC;
  }
  .navbar .nav-collapse .nav .active > a {
    background-color: #2B7CAC;
  }
  .navbar .nav-collapse .dropdown-menu li > a:hover,
  .navbar .nav-collapse .dropdown-menu li > a:focus,
  .navbar .nav-collapse .dropdown-submenu:hover > a {
    background-image: none;
  }
  .navbar .nav-collapse .navbar-form,
  .navbar .nav-collapse .navbar-search {
    border: none;
  }
  .navbar .nav-collapse .nav-header {
    color: #2B7CAC;
  }
  .navbar-inverse .nav-collapse .nav li > a {
    color: #fff;
  }
  .navbar-inverse .nav-collapse .nav li > a:hover {
    background-color: rgba(0,0,0,0.1);
  }
  .navbar-inverse .nav-collapse .nav .active > a,
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background-color: rgba(0,0,0,0.1) !important;
  }
}
div.subnav {
  font-family: 'Telex', sans-serif;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
}
div.subnav-fixed {
  top: 50px;
}
.btn:hover {
  background-position: 0 0;
}
i[class^="icon-"] {
  opacity: 0.8;
}
