@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
}

@media screen and (max-width: 935px) {
    body { padding-top: 100px; }
}

@media screen and (max-width: 496px) {
    body { padding-top: 140px; }
}

@media screen and (max-width: 471px) {
    body { padding-top: 180px; }
}

@media screen and (max-width: 356px) {
    body { padding-top: 220px; }
}

#location_search_map img, #directions_map img, #store_location_map img, #store_location_search_map img {
  max-width: none;
}

.icon-search {
  position: relative;
  right: 20px;
  margin-top: -2px;
  z-index: 2;
}

.navbar-text {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2) !important;
  color: #FFFFFF !important;
}

.option-text {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 21px;
}

#location_found_div {
  margin-top: 20px;
}

#directions_div {
  height: 500px;
}

#directions_text {
  overflow-y: scroll;
}

input[type=checkbox] {
  margin: 0;
}

.star {
  display: inline;
}

ul.thumbnails > li > div.thumbnail {
  width: 200px;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

#loading_div {
  display:block;
  position:fixed;
  top:200px;
  left:0;
  width:70%;
  text-align:center;
  background:#fff;
  filter: alpha(opacity=75);
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  z-index: 1;
}

.rotate {
    /* Safari, Chrome */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Older versions of IE */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    /* CSS3 standard as defined here: http://www.w3.org/TR/css3-transforms/ */
    transform: rotate(-90deg);
}

.required {
    background-color:#F2DEDE !important;
    border: 1px #F00 solid !important;
}

.feedback {
    position	: fixed; /* This will never scroll out of view */
    background-image: -moz-linear-gradient(top, #54b4eb, #2fa4e7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#54b4eb), to(#2fa4e7));
    background-image: -webkit-linear-gradient(top, #54b4eb, #2fa4e7);
    background-image: -o-linear-gradient(top, #54b4eb, #2fa4e7);
    background-image: linear-gradient(to bottom, #54b4eb, #2fa4e7);
    border	: 1px solid #1990d5;
    color	: #FFF;
    font-weight	: bold;
    font-size	: 16px;
    padding	: 4px;
}

.feedback-form-wrapper {
    /*
This is the CSS for the feedback div that is fixed to the top right hand side
of the screen.
*/
    display	: block;
    z-index	: 9999; /* Make sure it floats a little higher than the feedback form div below */
    top	: 100px;
    right	: -395px; /* Bring the div in and hide the right (top) border */
    width	: 377px;
    margin-right: 8px;
}

/* This will put some distance between the input box and the next label */
.feedback input{
    margin-bottom:5px;
}

.feedback legend{
    color	: #FFF;
}

.feedback-toggle {
    /*
This is the CSS for the feedback div that is fixed to the top right hand side
of the screen. This div should slide with the form so that it provides a
close button when the form is slid into view.
*/
    right	: -49px; /* Bring the div in and hide the right (top) border */
    right	: -10px\9; /* Less Than IE9 Hack - Bring the div in and hide the right (top) border */
    top	: 200px;
    cursor	: pointer;
    margin-right: 13px;
    width	: 90px; /* Since this is getting rotated width appears as height to the eye*/
    height	: 20px; /* Since this is getting rotated height appears as width to the eye*/
    text-align	: center;
    border-top	: 2px solid #2F96B4;
    border-left	: 1px solid #333;
    border-right: 1px solid #333;
    z-index	: 10000; /* Make sure it floats above the content */
}

.modal { top:10%; bottom:10%; max-height: 540px; }
.modal-body { height: 75%; }
.modal-footer {height: 30px; }

.outerGoogleLoginDiv {
    -moz-user-select: none;
    display: inline-block;
    font-family: Roboto,arial,sans-serif;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    background-color: #DD4B39;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    font-size: 12px;
    height: 31px;
    line-height: 31px;
    font-weight:bold;
}

.innerGoogleLoginIcon {
    background: url("/img/googlesigninbutton.png") no-repeat scroll -32px -44px transparent;
    height: 32px;
    margin-top: -1px;
    width: 32px;
    border-color: #BB3F30;
    border-right-width: 1px;
    border-style: solid;
    display: inline-block;
    vertical-align: top;
}

.innerGoogleLoginText {
    padding: 0 20px;
    border-radius: 0 3px 3px 0;
    display: inline-block;
}

#tag-cloud {
	width: 285px;
	margin-left: 0;
}
.tag-cloud {
    background-color: #999999;
    -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 21px;
    margin: 2px 3px 2px 2px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
}
.tag-cloud:after {
    color: #000000;
    content: " ×";
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.2;
	position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
	top: 1px;
}

	/* Colors */

.tag-cloud.tag-cloud-info {
    background-color: #3A87AD;
}
.tag-cloud.tag-cloud-success {
    background-color: #468847;
}
.tag-cloud.tag-cloud-warning {
    background-color: #F89406;
}
.tag-cloud.tag-cloud-danger {
    background-color: #B94A48;
}
.tag-cloud.tag-cloud-inverse {
    background-color: #333333;
}
