@import url(https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here);

body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
}

@media (min-width: 981px) {
  body { padding-top: 60px; }
}

#location_search_map img {
  max-width: none;
}

.icon-search {
  position: relative;
  right: 20px;
  margin-top: -2px;
  z-index: 2;
}

.navbar-text {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2) !important;
  color: #FFFFFF !important;
}

.option-text {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 21px;
}

#location_found_div {
  margin-top: 20px;
}

input[type=checkbox] {
  margin: 0;
}

.star {
  display: inline;
}

div.well.sidebar-nav {
  width: 147px;
}

ul.thumbnails > li > div.thumbnail {
  width: 200px;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}