<div id="error-div"></div>
<form id="sign-in-form" data-ajax="false">
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <input id="email-input" placeholder="Email" type="email" />
    </fieldset>
  </div>
  <div data-role="fieldcontain">
    <fieldset data-role="controlgroup">
      <input id="password-input" placeholder="Password" type="password" />
    </fieldset>
  </div>
  <input type="submit" data-icon="arrow-r" data-iconpos="right" value="Sign In" />
</form>