<h1 style="text-align: center;">About Nowcado</h1>
<div style="margin: 1em 1em 1em 1em;">
  <h3><b><i>Nowcado Local Shopping Trip Advisor</i></b></h3>
  <p>
    Save time and money on each of your local shopping trips with Nowcado!  Join others to create your list and discover your personalized trip within seconds.
  </p>
  
  <p>
    About to do your weekly grocery shopping?<br />
    Looking for a particular drink to share with a friend or picking up something quickly for a party?<br />
    Join forces with others and become a smarter shopper. Nowcado will show you the cheapest and closest place to find exactly what you’re looking for, including user-submitted product ratings. We crowd-source our data, so if you don't see your favorite product near you, add it!
  </p>
  
  <h4>BENEFITS:</h4>
  <p>
    Save MONEY: Compare and find prices across stores.<br />
    Save TIME: Quickly find the closest store that sells an item. Know exactly which stores to visit, in what order, to get everything you need.<br />
    COMMUNITY: Sharing is caring. Join a community of savvy shoppers by sharing real-time prices of products.
  </p>
  
  <h4>FEATURES:</h4>
  <ul>
    <li>Optimize your full shopping trip based on your preferences</li>
    <li>Check prices of products at nearby stores</li>
    <li>Use map view to change search location to anywhere</li>
    <li>Find the location of the closest store with your item</li>
    <li>Product prices for each store contributed by our community of shoppers like you!</li>
    <li>Scan any barcode or search for an item to quickly edit item details</li>
  </ul>
</div>
<h2 style="text-align: center;">Support</h2>
<p style="margin: 1em 1em 1em 1em;">
  If you have any questions, please send us an email at <a style="text-decoration: none;color: #02519e;" href="mailto:nowcado@gmail.com">nowcado@gmail.com</a> and we will get right back to you! Seriously, we welcome any and all feedback. We're not satisfied until you are satisfied with your Nowcado experience.
</p>
<h2 style="text-align: center;">Contact Us</h2>
<p style="margin: 1em 1em 1em 1em;">
  You can reach any member of our executive team at the following addresses:
  <ul>
    <li>
      <b>CEO: </b>Avi Bardack
      <ul>
        <li><b>Email: </b><a style="text-decoration: none;color: #02519e;" href="mailto:avi@nowcado.com">avi@nowcado.com</a></li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      <b>CTO: </b>Ben Tousley
      <ul>
        <li><b>Email: </b><a style="text-decoration: none;color: #02519e;" href="mailto:ben@nowcado.com">ben@nowcado.com</a></li>
      </ul>
    </li>
  </ul>
</p>
