<div data-role="fieldcontain" min-width="100%" >
	<fieldset data-role="controlgroup" data-mini="true">
		<input name="location_search" id="location_search" placeholder="Where do you want to shop?" value="" type="search" class="search_query" />
	</fieldset>
</div>
<img id="location_search_map" src="https://maps.googleapis.com/maps/api/staticmap?zoom=14&amp;size=240x240&amp;sensor=true" />
