<div class="container">
  <div class="jumbotron">
    <h1>Save time and money on your local shopping!</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="span5">
        <form id="location_search_form" class="form=search input-append" action="">
          <input type="text" class="input-medium" id="location_search" placeholder="Current Location" />
          <button class="add-on" type="submit" style="height: 30px;">Set Location</button>
        </form>
        <div id="location_search_error" class="alert alert-error" style="display: none;"></div>
        <div id="location_search_map" style="height: 300px;"></div>
        <div id="location_status" class="alert" style="display: none;"></div>
        <div id="location_found_div" style="display: none;">
          <p>Shop by either:<ol><li id="search_explanation_text">Searching for individual items with the search bar at the top of the screen.</li><li id="cart_explanation_text">Fill out your entire shopping list using the form on the right.</li></ol></p>
        </div>
      </div>
      <div class="span7">
        <% if !session["user"] %>
        <p>
          Note that you must be <a href="#sign_in" role="button" data-toggle="modal">signed in</a> to optimize your shopping list.
        </p>
        <% end %>
        <form id="cart_list_form" class="input-append" action="">
          <input type="text" class="input-medium span6" id="add_cart_item_input" placeholder="Enter shopping list items" />
          <button class="add-on" type="submit" style="height: 30px;">Add Item</button>
        </form>
        <table class="table span7" style="margin-left:0">
          <tbody id="cart_items_list">
          <% if !session["t_c"].nil? %>
          <% session["t_c"].each do |id,name| %>
            <tr><td><span nid="<%= id %>" class="badge closable" data-original-title="Remove from list" data-placement="left">x</span><%= name %></td></tr>
          <% end %>
          <% end %>
          </tbody>
        </table>
        <button class="btn btn-success btn-large centered" id="quick_set_cart">View My Cart</button>
      </div>
    </div>
  </div>
  <%= js :index %>
  <h3>Other shoppers near you are buying...</h3>
</div>
<div id="recently_purchased"></div>
<% if session["android"] == true %>
  <script>
    var android_confirmation = confirm("Would you like to download the Nowcado app to improve your experience?");
    if(android_confirmation)
      window.location = "https://play.google.com/store/apps/details?id=com.nowcado.android";
  </script>
  <% session["android"] = false %>
<% elsif session["ios"] == true %>
  <script>
    var ios_confirmation = confirm("Would you like to download the Nowcado app to improve your experience?");
    if(ios_confirmation)
      window.location = "https://itunes.apple.com/us/app/nowcado-local-shopping/id718026965?mt=8";
  </script>
  <% session["ios"] = false %>
<% end %>
