<div class="content-container">
    <p>This Privacy Policy describes how Nowcado.com (“site”, “we”, “us” or “our”) handles your personal information that it obtains via the Nowcado.com website, tools, applications and services. Other websites offering services powered by Nowcado.com are governed by the privacy policy posted on those sites.</p>
    <p><strong>Collection.</strong> Our servers are located in the United States and elsewhere in the world where we have operations. If you choose to provide us with personal information, you consent to the transfer and storage of that information on our servers in the United States and elsewhere in the world where Nowcado, Corp. has facilities.</p>
    <p>We may collect the following personal information:</p>
    <ul class="list">
        <li>email address;</li>
        <li>contact information;</li>
        <li>company information;</li>
        <li>location information;</li>
        <li>other information from your interaction with our site, services, content and advertising including computer and connection information, statistics on page views, traffic to and from the site, ad data, IP address, device ID and standard web log information; and</li>
        <li>other supplemental information from third parties.</li>
    </ul>
    <p><strong>Use.</strong> Our primary purpose in collecting personal information is to provide you with a safe, smooth, efficient and customized experience.</p>
    <p>You agree that we may use your personal information to:</p>
    <ul class="list">
        <li>provide the services and customer support you request;</li>
        <li>identify and troubleshoot problems;</li>
        <li>encourage a safe environment and enforce our policies;</li>
        <li>customize, measure and improve our services, content and advertising;</li>
        <li>deliver targeted marketing, service update notices and promotional offers based on your preferences; and</li>
        <li>other purposes described to you when we collect the information.</li>
    </ul>
    <p><strong>Disclosure.</strong> We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a posting or other content violates the rights of others or protect anyone's rights, property or safety.</p>
    <p>We may also share personal information with:</p>
    <ul class="list">
        <li>Service providers under contract who help with our business operations.</li>
        <li>Law enforcement, government official or other third party in response to a verified request relating to a criminal investigation or alleged illegal activity or we believe in good faith that the disclosure of personal information is necessary to prevent physical harm, financial loss or suspected illegal activity.</li>
        <li>Other business entities, should we plan to merge or be acquired by that business entity.</li>
    </ul>
    <p><strong>Communications and email tools.</strong> You agree to receive marketing communications from us unless you tell us that you prefer not to receive such communications. If you don't wish to receive marketing communications from us, simply indicate your preference by following directions provided with the communication. You may not use our site or communication tools to harvest addresses, send spam or otherwise breach our Terms of Use or Privacy Policy.</p>
    <p><strong>Security.</strong> We use lots of tools (encryption, passwords, physical security) to protect your personal information against unauthorized access and disclosure, but as you probably know, nothing's perfect, so we make no guarantees.</p>
    <p><strong>Cookies.</strong> When you access our site, we, or third parties we hire may use "cookies" (small files placed on your hard drive) or web beacons to track how our website is used. We and our service providers also use cookies to customize our services, content and advertising, measure promotional effectiveness and promote trust and safety. Third parties providing this service are subject to confidentiality agreements with us and may only use the information they collect to provide services we have requested. We do not allow these third parties to collect personal information about you using cookies or web beacons.</p>
    <p>Certain features on our site may only be available by accepting cookies.</p>
    <p><strong>General.</strong> We may update this policy at any time by posting the amended terms on this site. All amended terms automatically take effect when you use the site or after 30 days, whichever is sooner. If your questions are not answered online, you may write to us at: Nowcado.com Attn: Legal - Privacy Practices, 9422 51st Avenue, College Park, MD 20740, or by emailing us at <a href="mailto:nowcado@gmail.com">nowcado@gmail.com</a>.</p>
</div>