<div class="content-container">
<p>Last Updated: August 10, 2014</p>
<p>
    Nowcado.com ("<strong>Nowcado</strong>"), a division of Nowcado, Corp. ("<strong>Nowcado</strong>", "<strong>we</strong>" or "<strong>us</strong>"). This Agreement is a legal
    agreement between you and Nowcado governing your participation on the Nowcado.com site ("the "<strong>Site</strong>"), "and
    any partner site it may operate on which are referred to collectively as the "<strong>Nowcado.com Network</strong>." By using
    or accessing the Site or by registering as a member of the Nowcado.com Network, you agree to be bound by and
    hereby become a party to all the terms of this Agreement. If you do not agree with the terms and conditions
    in this Agreement, you may not use the Nowcado.com Network.
</p>
<p>
    We may update this policy at any time by posting the amended terms on this site. All amended terms automatically take
    effect when you use the site or after 30 days, whichever is sooner.  By continuing to access or use the Nowcado.com
    Network after any such amendment, you agree to be bound by the terms of the amended Agreement. Otherwise, this
    Agreement may be amended only by a writing physically signed by us. For purposes of this provision,"writing" does
    not include an email message and a signature doesn't include an electronic signature.
</p>
<h2 class="emphasized">Content.</h2>
<p>
    Nowcado.com, the local shopping division of Nowcado, provides local retailer product availability and pricing information
    which is obtained from third party retailers. Nowcado cannot guarantee the accuracy of pricing, product, inventory or
    other information that is provided by third parties.  Nowcado does not warrant that such information or any other
    content, regardless of its source, is accurate, complete, reliable or current. You agree that you will not hold
    Nowcado responsible for third party content. The local shopping content and product reviews are provided for informational
    purposes only and does not constitute an endorsement by Nowcado of any product, service or merchant. Such content
    should be reviewed by you and evaluated for accuracy, timeliness, completeness and usefulness, before reliance upon
    it.  You are solely responsible for any actions or decisions you take based on information you obtain from our site.
</p>
<h2 class="emphasized">A Note About Minors.</h2>
<p>
    The Nowcado.com Network is not targeted towards, nor intended for use by anyone under the age of 18. By using the
    Nowcado.com Network, you represent and warrant that you are 18 years of age or older. If you are not at least 18 years
    of age, do not use access or register for the Nowcado.com Network. We reserve the right to terminate your membership
    in the event that Nowcado.com becomes aware you are under 18.
</p>
<h2 class="emphasized">Registration and Passwords.</h2>
<p>
    Certain features and services on the Nowcado.com Network require that you register on the site. You agree as a condition
    of use and registration that we may, but are not obligated to, contact you to inform you of changes to this Agreement
    or describe new services available on the Nowcado.com Network. You are responsible for safeguarding the password that you
    use to access any secure areas of the Nowcado.com Network. You agree not to disclose your password to any third party. You
    agree to take sole responsibility for any activities or actions under your password, whether or not you have authorized
    such activities or actions. You will immediately notify Nowcado of any unauthorized use of your password.
</p>
<h2 class="emphasized">Privacy.</h2>
<p>
    Nowcado, Nowcado, and/or members of the Nowcado.com Network may use geo-location technology (using, for example, your IP address
    or mobile phone location information) to identify your location to return product availability results relevant to your
    location.   Any data collected by such technology will only be used to provide Nowcado.com Network’s services.
</p>
<p>
    Nowcado does not sell or rent your personal information obtained via your use of the Nowcado.com Network to third parties
    for their marketing purposes without your explicit consent. We use your information only as described in the
    <a href="/privacy">Nowcado.com Privacy Policy</a>. Nowcado.com views protection of users' privacy as a very
    important community principle. Our servers are located in the United States and elsewhere in the
    world where we have operations. If you choose to provide us with personal information, you consent to the transfer
    and storage of that information on our servers in the United States and elsewhere in the world where Nowcado has
    facilities.
</p>
<p>
    For a complete description of how Nowcado uses and protects your personal information collected in the course of your
    use of the Nowcado.com Network, see the
    <a href="/privacy">Nowcado.com Privacy Policy</a>. If you object to your information being transferred or
    used in this way please do not use our services. Personal information collected by merchants, if any, is subject to the
    privacy policy of the merchant that collects the information.  We recommend reviewing the privacy policies of the
    merchants you interact and transact with before providing them with your information
</p>
<h2 class="emphasized">Shopping and Products.</h2>
<p>
    Nowcado.com provides information regarding products and third-party merchants, and links to third-party merchants that are
    selling listed products. The products listed on the Nowcado.com Network are sold by third-party merchants, not by Nowcado.
    You acknowledge that Nowcado does not sell, resell or license any products listed on the Nowcado.com Network, nor is Nowcado
    acting as an agent of sale of products listed on the Nowcado.com Network. We are merely attempting to make it easier for
    you to buy from merchants who choose to offer goods using the Nowcado.com Network. You acknowledge that Nowcado disclaims any
    responsibility for or liability related to such products (see
    <i>Disclaimer of Warranties</i> below). You agree to
    direct any question, complaint or claim about merchants (for example, about their products, customer service for their
    products or delivery) to the appropriate merchant or seller.
</p>
<p>
    You may download, view and print a single copy of any content, solely for your personal and non-commercial purposes,
    subject to the restrictions set forth in this Agreement. All right, title and interest in and to the Nowcado.com Network
    and any content appearing on the Nowcado.com Network will remain the exclusive property of Nowcado and its licensors. Except
    as expressly permitted in this Agreement, you may not reproduce, modify or prepare derivative works based upon,
    distribute, sell, transfer, publicly display, publicly perform, transmit or otherwise use the Nowcado.com Network or any
    other content appearing on the Nowcado.com Network. You may not copy or modify the HTML code used to generate web pages on
    the Nowcado.com Network. You may not use the Nowcado.com Network, or any other content appearing on the Nowcado.com Network, on
    or in connection with any other website for any purpose outside of the scope of this Agreement.
</p>
<h2 class="emphasized">Notice for Claims of Intellectual Property Violations and Agent for Notice.</h2>
<p>
    If you have a good faith belief that your work has been copied in a way that constitutes copyright infringement, or that your intellectual property rights have been otherwise violated, please provide Nowcado.com's designated agent with the following information:
</p>
<ol>
    <li>
        a physical or electronic signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest that is allegedly infringed;
    </li>
    <li>
        identification or description of the copyrighted work or other intellectual property that you claim has been infringed.  If you are asserting infringement of an intellectual property right other than copyright, please specify the intellectual property right at issue (for example, trademark or patent);
    </li>
    <li>
        identification or description of where the material that you claim is infringing is located on the Nowcado.com site, with enough detail that we may find it on Nowcado.com’s website;
    </li>
    <li>
        your address, telephone number, and email address;
    </li>
    <li>
        a statement by you that you have a good faith belief that the use of the material complained of is not authorized by the copyright or intellectual property owner, its agent, or the law;
    </li>
    <li>
        a statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.
    </li>
</ol>
<p>
    Nowcado.com's agent designated to receive claims of copyright or other intellectual property infringement may be contacted as follows:
</p>
<p>
    <strong>By mail</strong><br>
    Attn: Nowcado.com Registered Agent<br>
    Nowcado.com<br>
    9422 51st Ave<br>
    College Park, MD 20740
</p>
<p>
    <strong>By email</strong><br>
    nowcado@gmail.com
</p>
<p>Nowcado.com has adopted and implements a policy that provides for the termination in appropriate circumstances of the accounts of users who repeatedly infringe copyrights or other intellectual property rights of Nowcado.com and/or others.</p>
<h2 class="emphasized">Trademarks.</h2>
<p>
    Nowcado is not in a position to arbitrate trademark disputes between the advertisers on Nowcado and trademark owners.
    Accordingly, we encourage trademark owners to resolve their disputes directly with the advertisers, particularly
    because the advertisers may have similar advertisements on other sites. Similarly, Nowcado does not control and assumes
    no responsibility for content that appears on a third party's website that may be accessed via Nowcado.com or services
    Nowcado provides to Nowcado, and trademark owners should contact third-party sites directly to resolve trademark disputes.
</p>
<p>
    Notwithstanding the foregoing, Nowcado will comply as appropriate with the terms of any court order relating to the behavior of
    the challenged party identified in such court order.
</p>
<h2 class="emphasized">Abuse of Nowcado.com Network</h2>
<p>
    Without limiting other remedies, Nowcado may limit, suspend or terminate the Nowcado.com service and user accounts, prohibit
    access to the Nowcado.com Network, and its content, services and tools, delay or remove hosted content, and take technical
    and legal steps to keep users off the sites if we think that they are creating problems or possible legal liabilities,
    infringing the intellectual property rights of third parties, or acting inconsistently with the letter or spirit of our
    policies.  Additionally, we may, in appropriate circumstances and at our discretion, suspend or terminate accounts of users
    who may be repeat infringers of intellectual property rights of third parties.
</p>
<h2 class="emphasized">Termination.</h2>
<p>
    You can cancel your account at any time by contacting
    <a href="mailto:nowcado@gmail.com">Customer Support</a>. Nowcado can cancel your Nowcado.com account or otherwise refuse service to you at any
    time for any reason (including repeat infringement).  Nowcado may choose to assume that you intended to terminate your
    Nowcado.com account if you do not access it for more than 3 months. Following termination of your account for any reason
    (including inactivity), at their sole option, Nowcado and its licensees may continue or stop publicly displaying some or
    all of your content on the Nowcado.com Network.
</p>
<h2 class="emphasized">Other Rules.</h2>
<p>
    You agree to comply with all laws and regulations applicable to your access and use of the Nowcado.com Network and publishing
    your content. You may not harvest personal data (including email addresses) from the Nowcado.com Network, and specifically
    you may not use email addresses displayed on our sites to ask users to join or contribute to your services. We have the
    right to investigate and prosecute violations of any of the above to the fullest extent of the law. We may involve and
    cooperate with law enforcement authorities in prosecuting users who violate the terms of this Agreement. You acknowledge
    that Nowcado has no obligation to monitor your access to or use of the Nowcado.com Network, but has the right to do so for the
    purpose of operating the Nowcado.com Network, to ensure your compliance with this Agreement, or to comply with applicable law
    or the order or requirement of a court, administrative agency or other governmental body. Unless we explicitly agree
    otherwise in writing, you may not use any automated means (such as scripts) to access the Nowcado.com Network or collect
    information from it.
</p>
<h2 class="emphasized">Indemnity.</h2>
<p>
    By choosing to use the Nowcado.com Network, you agree to indemnify Nowcado, its affiliates, its officers, agents, partners and
    employees from any and all claims or damage, including reasonable attorney's fees, made by third parties due to or arising
    out of 1) Content you choose to submit, post or transmit through the Nowcado.com Network; 2) your use of or connection to the
    Nowcado.com Network; 3) your violation of the User Agreement; or 4) your violation of any rights of another.
</p>
<h2 class="emphasized">Release.</h2>
<p>
    Because we are a venue, in the event that you have a dispute with one or more users (including merchants) of the Nowcado.com
    Network, you, on behalf of yourself (and any of your officers, directors, employees, agents, predecessors, successors and
    assigns), hereby irrevocably release and discharge Nowcado, our affiliates, our officers, directors, employees, attorneys,
    predecessors, successors, assigns and agents from, against and in respect of all past, present and future claims, rights,
    actions, causes of action, suits, indemnification obligations, losses, liabilities, matters, issues, cost and expenses, of
    any kind or nature whatsoever, including without limitation court costs and attorneys' fees, whether known or unknown,
    concealed or hidden, fixed or contingent, suspected or unsuspected, in law or in equity, concerning, related to or arising
    out of any such disputes. To ensure that the release provided in this Agreement is fully enforceable in accordance with its
    terms, you knowingly and voluntarily waive any protection that you might have in relation to the release set forth in this
    section by virtue of §1542 of the California Civil Code, which provides: "A general release does not extend to claims which
    the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must
    have materially affected his settlement with the debtor." In addition, you hereby knowingly and voluntarily waive any
    protection that may exist under any comparable or similar statutes or principles of common law applicable in states other
    than California as it pertains to the enforcement of the release in this section.
</p>
<h2 class="emphasized">Liability Limits.</h2>
<p>
    Nowcado is not involved in the actual transaction between buyers and merchants on the Nowcado.com Network, and has no control over
    and do not guarantee the quality, safety or legality of items advertised, the truth or accuracy of users’ content or listings,
    the ability of merchants to sell items, the ability of buyers to pay for items, or that a buyer or merchant will actually complete
    a transaction or return an item.
</p>
<p>
    Nowcado and its suppliers shall not be liable to you for any lost profits or special, incidental or consequential damages arising in
    any way (including negligence) out of or in connection with your usage of the Nowcado.com Network, our services or this Agreement.
</p>
<p>
    Certain state laws do not allow the exclusion or limitation of certain damages. If these laws apply to you, some or all of the above
    exclusions or limitations may not apply to you, and you might have additional rights.
</p>
<h2 class="emphasized">Governing Law/Arbitration.</h2>
<p>
    This Agreement is governed by California law as such laws apply to Agreements entered into and to be performed entirely
    within California between California residents and without regard to conflict of laws. Any claim arising out of or relating
    to this Agreement or the Nowcado.com Network shall be settled by binding arbitration in Santa Clara County, California in
    accordance with the American Arbitration Association's commercial arbitration rules. Any such claim shall be arbitrated on
    an individual basis, not consolidated with another party's claim. Each of us may conduct discovery per California CCPA
    §1283.05 and §1283.1. Judgment on the arbitration award may be entered into any court with jurisdiction, and the
    arbitrator's award shall not be appealable or reviewable except as permitted by California law. However, (a) each of us may
    seek interim relief from a Santa Clara County, California court to protect the party's rights or property while arbitration
    is pending, and (b) at our option, we may bypass arbitration in cases of fraud or other crimes against us, interference with
    our technical operations or violations of our rights or property.
</p>
<p>
    If a dispute arises between you and Nowcado our goal is to provide you with a neutral and cost effective means of resolving the
    dispute quickly. Accordingly, you and Nowcado agree that we will resolve any claim or controversy at law or equity that arises
    out of this Agreement or our services (a "
    <strong>Claim</strong>") in accordance with one of the subsections below or as we and you otherwise
    agree in writing. Before resorting to these alternatives, we strongly encourage you to first contact us directly to seek a
    resolution by <a href="mailto:nowcado@gmail.com">contacting us</a>.  We will consider reasonable
    requests to resolve the dispute through alternative dispute resolution procedures, such as mediation or arbitration, as alternatives to litigation.
</p>
<ul>
    <li>
        <strong>Law and Forum for Legal Disputes</strong> - This Agreement shall be governed in all respects by the laws of the State of
        California as they apply to agreements entered into and to be performed entirely within California between California
        residents, without regard to conflict of law provisions. You agree that any claim or dispute you may have against Nowcado.com must
        be resolved exclusively by a state or federal court located in Santa Clara County, California, except as otherwise agreed by the
        parties or as described in the Arbitration Option paragraph below. You agree to submit to the personal jurisdiction of the courts
        located within Santa Clara County, California for the purpose of litigating all such claims or disputes.
    </li>
    <li>
        <strong>Arbitration Option</strong> - For any claim (excluding claims for injunctive or other equitable relief) where the total
        amount of the award sought is less than $10,000, the party requesting relief may elect to resolve the dispute in a cost
        effective manner through binding non-appearance-based arbitration. In the event a party elects arbitration, they shall
        initiate such arbitration through an established alternative dispute resolution ("
        <strong>ADR</strong>") provider mutually agreed upon by
        the parties. The ADR provider and the parties must comply with the following rules: (a) the arbitration shall be conducted
        by telephone, online and/or be solely based on written submissions, the specific manner shall be chosen by the party
        initiating the arbitration; (b) the arbitration shall not involve any personal appearance by the parties or witnesses
        unless otherwise mutually agreed by the parties; and (c) any judgment on the award rendered by the arbitrator may be
        entered in any court of competent jurisdiction.
    </li>
    <li>
        <strong>Improperly Filed Claims</strong> - All claims you bring against Nowcado must be resolved in accordance with this Legal Disputes Section.
        All claims filed or brought contrary to the Legal Disputes Section shall be considered improperly filed. Should you file a claim
        contrary to the Legal Disputes Section, Nowcado may recover attorneys' fees and costs up to $1000, provided that Nowcado has notified you
        in writing of the improperly filed claim, and you have failed to promptly withdraw the claim.
    </li>
</ul>
<h2 class="emphasized">Integration.</h2>
<p>
    This Agreement, and our
    <a href="/privacy">Privacy Policy</a> (which are incorporated herein by reference) constitute the entire Agreement
    and supersede any other Agreements or understandings (oral or written) between you and us with respect to their
    subject matters.
</p>
<h2 class="emphasized">Disclaimer of Warranties.</h2>
<p>
    The Nowcado.com Network and its services are provided "as is," without express or implied warranty or condition of any
    kind, and we explicitly disclaim any warranties of merchantability, fitness for a particular purpose, quiet enjoyment
    or non-infringement. We do not promise or warrant that any aspect of the sites or system will work properly or that the
    information provided is complete or accurate or will be continuously available. The Nowcado.com Network may contain links to
    third-party websites or resources. You acknowledge and agree that we are not responsible or liable for: (1) the availability
    or accuracy of such websites or resources; or (2) the content, products or services on or available from such websites or
    resources. Links to such websites or resources do not imply any endorsement of such websites or resources or the content,
    products or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk
    arising from your use of any such websites or resources. Your correspondence with or participation in promotions of merchants
    or advertisers found on the Nowcado.com Network, including payment and delivery of related goods or service, and any other terms,
    conditions, warranties or representations associated with such dealings, are solely between you and such merchant or advertiser.
    You agree not to hold Nowcado.com liable for any loss or damage of any sort incurred as the result of any such dealings or as the
    result of the presence of such merchants or advertisers on the Nowcado.com Network. In addition, Nowcado.com does not endorse, warrantor
    guarantee the products or services of any seller, lender or broker, including any rates, points and loan programs posted by sellers,
    lenders or brokers. Nothing on the Nowcado.com Network constitutes an advertisement for credit as defined by Paragraph 226.24 of
    Regulation Z of the federal Truth in Lending Act.
</p>
<p>
    Certain state laws do not allow limitations on implied warranties. If these laws apply to you, some or all of the
    above disclaimers may not apply to you, and you might have additional rights.
</p>
<h2 class="emphasized">Assignment.</h2>
<p>
    You agree that this Agreement and all agreements and information incorporated herein may be automatically assigned by Nowcado,
    in its sole discretion, to a third party. You may not assign your obligations to another entity.
</p>
<h2 class="emphasized">General.</h2>
<p>
    This Agreement does not create any agency, partnership, joint venture, employment or franchise relationship. Because you are
    not an employee, minimum wage laws do not apply to your relationship with the Nowcado.com Network. Our failure to act in a particular
    circumstance does not waive our right to act with respect to that or other circumstances. We shall be excused for any problem due
    to a factor beyond our control. If any provision of this Agreement is held invalid or unenforceable by a court of competent
    jurisdiction, the remaining provisions of the Agreement will remain in full force and effect, and the provision affected will be
    construed so as to be enforceable to the maximum extent permissible by law. Any waiver of any provision of this Agreement will be
    effective only if in writing and signed by Nowcado.
</p>
</div>